services:
  postgres:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password
    volumes:
      - pgdata:/var/lib/postgresql/data
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 134217728 # 128*2^20 bytes = 128Mb
    networks:
      - postgres
    secrets:
      - postgres-password
    configs:
      - source: "{{ postgres_authelia_script.config_name }}"
        target: /docker-entrypoint-initdb.d/authelia.sql
    ports:
      - "5432"

networks:
  postgres:
    external: true

volumes:
  pgdata:

secrets:
  postgres-password:
    external: true

configs:
  {{ postgres_authelia_script.config_name }}:
    external: true
