services:
  dozzle:
    image: amir20/dozzle:latest
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_MODE=swarm
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8080
    deploy:
      mode: replicated
      replicas: 1
      labels:
        dev.mattprovost.dozzle.domain: "{{ lookup('service_domain', 'dozzle') }}"
        dev.mattprovost.dozzle.port: 8080
        dev.mattprovost.dozzle.access: "true"
        dev.mattprovost.dozzle.access.admin: "true"
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 60s
      resources:
        limits:
          cpus: "0.25"
          memory: "128M"
        reservations:
          cpus: "0.10"
          memory: "64M"
    networks:
      - cloudflared-network
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s

networks:
  cloudflared-network:
    external: true
