# Install https://github.com/nix-community/nix-direnv for best compatibility
use flake

# Function to start Docker daemon
start_docker() {
  DOCKERD_PID=$(pgrep dockerd)
  if [ -z "$DOCKERD_PID" ]; then
    echo "Starting Docker daemon..."
    sudo setsid $(which dockerd) > /tmp/dockerd.log 2>&1 < /dev/null &
    sleep 5
    DOCKERD_PID=$(pgrep dockerd)
    if [ -n "$DOCKERD_PID" ]; then
      echo "Docker daemon started successfully with PID $DOCKERD_PID."
    else
      echo "Failed to start Docker daemon. Check /tmp/dockerd.log for details."
    fi
  else
    echo "Docker daemon is already running with PID $DOCKERD_PID."
  fi
}

# Register start_docker function to run when entering the directory
start_docker
