# Ignore direnv cache
/.direnv

# Ignore Rust output
/target

# Ignore generated docker compose file
/docker-compose.yml

# Ignore generated port mapping file
/port_mapping.txt

# Ignore temporary and system files
*.tmp
*.swp
*.swo
.DS_Store
