# Ignore generated bootstrap file
/compose.yml
/service.json

# Ignore cache directory
config/cache/

# Ignore specific data files that might contain sensitive or large data
config/data/data/device.txt
config/data/data/jellyfin.db*
config/data/data/library.db*
config/data/data/playlists/
config/data/data/ScheduledTasks/

# Ignore logs
config/log/
config/*.log

# TODO: figure out which of these should and shouldn't be ignored
# Don't ignore the necessary configuration files for the plugins and the system
# But if they contain sensitive information, consider if they should be included in the repo
config/encoding.xml
# config/logging.default.json
config/migrations.xml
config/network.xml
config/system.xml
