server:
  port: 8080
theme:
  background-color: 0 0 16
  primary-color: 183 33 40
  positive-color: 60 71 35
  negative-color: 2 75 46
  contrast-multiplier: 1.3
pages:
  - name: Home
    columns:
      - size: small
        widgets:
          - type: calendar
          - type: bookmarks
            groups:
              - links:
                - title: Website
                  url: https://www.mattprovost.dev
                - title: Homelab
                  url: "https://{{ base_domain }}/"
                - title: Jellyfin
                  url: "https://{{ lookup('service_domain', 'jellyfin') }}/"
                - title: Jellyseerr
                  url: "https://{{ lookup('service_domain', 'jellyseerr') }}/"
          - type: twitch-channels
            channels:
              - theprimeagen
              - piratesoftware
              - sphaerophoria
              - tsoding
              - teej_dv
      - size: full
        widgets:
          - type: hacker-news
          - type: videos
            channels:
              - UCXuqSBlHAE6Xw-yeJA0Tunw # LinusTechTips
              - UCdBK94H6oZT2Q7l0-b0xmMg # Short Cirtuit
              - UCeeFfhMcJa1kjtfZAGskOCA # TechLinked
              - UCHDxYLv8iovIbhrfl16CNyg # GameLinked
              - UCFLFc8Lpbwt4jPtY1_Ai5yA # LMG Clips
              - UC8ENHE5xdFSwx71u3fDH5Xw # ThePrimeagen
              - UCUyeluBRhGPCW4rPe_UvBZQ # ThePrimeTime
              - UCBJycsmduvYEL83R_U4JriQ # mkbhd
          - type: reddit
            subreddit: selfhosted
      - size: small
        widgets:
          - type: clock
            hour-format: 12h
            timezones:
              - timezone: America/Los_Angeles
                label: Pacific
              - timezone: America/New_York
                label: Eastern
          - type: weather
            units: imperial
            hour-format: 12h
            location: Austin, Texas, United States
          - type: markets
            markets:
              - symbol: SPY
                name: S&P 500
              - symbol: NET
                name: Cloudflare
  - name: Links
    columns:
      - size: full
        widgets:
          - type: bookmarks
            groups:
              - links:
                - title: Website
                  url: https://www.mattprovost.dev
                - title: Homelab
                  url: "https://{{ base_domain }}/"
                - title: Jellyfin
                  url: "https://{{ lookup('service_domain', 'jellyfin') }}/"
                - title: Jellyseerr
                  url: "https://{{ lookup('service_domain', 'jellyseerr') }}/"
              - title: Management
                color: 2 75 46
                links:
                  - title: Dozzle
                    url: "https://{{ lookup('service_domain', 'dozzle') }}/"
                  - title: Portainer
                    url: "https://{{ lookup('service_domain', 'portainer') }}/"
                  - title: Prometheus
                    url: "https://{{ lookup('service_domain', 'prometheus') }}/"
                  - title: cAdvisor
                    url: "https://{{ lookup('service_domain', 'cadvisor') }}/"
                  - title: Grafana
                    url: "https://{{ lookup('service_domain', 'grafana') }}/"
              - title: LDAP
                color: 40 73 49
                links:
                  - title: LDAP User Manager
                    url: "https://{{ lookup('service_domain', 'ldap') }}/"
                  - title: PHP LDAP Admin
                    url: "https://{{ lookup('service_domain', 'pla') }}/"
              - title: Media Server
                color: 333 34 54
                links:
                  - title: Radarr
                    url: "https://{{ lookup('service_domain', 'radarr') }}/"
                  - title: Sonarr
                    url: "https://{{ lookup('service_domain', 'sonarr') }}/"
                  - title: Readarr
                    url: "https://{{ lookup('service_domain', 'readarr') }}/"
                  - title: Prowlarr
                    url: "https://{{ lookup('service_domain', 'prowlarr') }}/"
                  - title: Transmission
                    url: "https://{{ lookup('service_domain', 'transmission') }}/"
                  - title: Bitmagnet
                    url: "https://{{ lookup('service_domain', 'bitmagnet') }}/"
