services:
  samba:
    image: dperson/samba:latest
    volumes:
      - "media-server:/data"
    ports:
      - "139:139"
      - "445:445"
    environment:
      - "TZ=America/Chicago"
      - "USERID={{ ansible_user_uid }}"
      - "GROUPID={{ ansible_user_gid }}"
      - "SHARE1=public;/data"
      - "NMBD=1"
    deploy:
      mode: global

volumes:
  media-server:
    external: true
