# password persistence
/credentials

# runtime files
/config/*

# downloaded files
/download/*

# keep some configuration files
!/config/data
/config/data/*
!/config/data/plugins
/config/data/plugins/*
!/config/data/plugins/configurations
/config/data/plugins/configurations/LDAP-Auth.xml
!/config/data/plugins/ldapauth
/config/data/plugins/ldapauth/*

# keep all gitkeep files
!**/.gitkeep
