services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    environment:
      - LOG_LEVEL=debug
      - "PUID={{ ansible_user_uid }}"
      - "PGID={{ ansible_user_gid }}"
      - "TZ=America/Chicago"
    volumes:
      - "config:/app/config"
    ports:
      - 5055
    networks:
      - cloudflared-network
      - prowlarr-network
    deploy:
      labels:
        dev.mattprovost.jellyseerr.domain: "{{ lookup('service_domain', 'jellyseerr') }}"
        dev.mattprovost.jellyseerr.port: 5055

volumes:
  config:

networks:
  cloudflared-network:
    external: true
  prowlarr-network:
    external: true
