theme: auto

telemetry:
  metrics:
    enabled: true

authentication_backend:
  ldap:
    address: ldap://openldap_openldap
    base_dn: dc=mattprovost,dc=dev
    user: "CN=admin,DC=mattprovost,DC=dev"
    additional_users_dn: ou=users
    users_filter: "(&({username_attribute}={input})(objectClass=person))"
    additional_groups_dn: ou=groups
    groups_filter: "(memberUid={username})"
    attributes:
      mail: mail
      group_name: cn
      display_name: displayName

access_control:
  default_policy: deny
  rules:
    - domain: "*.{{ base_domain }}"
      policy: one_factor

session:
  name: authelia_session
  expiration: 1h
  inactivity: 5m
  remember_me: 1M
  cookies:
    - domain: "{{ base_domain }}"
      authelia_url: "https://{{ lookup('service_domain', 'auth') }}"
      name: "authelia_session"
      same_site: "lax"
  redis:
    host: redis_redis
    port: 6379

storage:
  postgres:
    address: tcp://postgres_postgres:5432
    database: authelia
    username: admin

identity_providers:
  oidc:
    jwks:
      - key_id: "primary"
        algorithm: "RS256"
        use: "sig"
        key: "{{ lookup('ansible.builtin.file', role_path + '/files/credentials/private_key.pem').replace('\n', '\\n') }}"
    clients:
      - client_id: "cloudflare"
        client_name: "Cloudflare ZeroTrust"
        client_secret: "{{ authelia_client_secret | password_hash }}"
        public: false
        authorization_policy: "one_factor"
        consent_mode: "implicit"
        redirect_uris:
          # TODO: make this configurable lol
          - "https://mattprovost.cloudflareaccess.com/cdn-cgi/access/callback"
        scopes:
          - "openid"
          - "profile"
          - "email"
          - "groups"
        userinfo_signed_response_alg: "none"

notifier:
  disable_startup_check: false
  filesystem:
    filename: "/config/notification.txt"

server:
  buffers:
    read: 8192
    write: 8192
  timeouts:
    read: '30s'
    write: '30s'
    idle: '30s'
