services:
  openldap:
    # TODO: move this to bitnami image?
    image: osixia/openldap:latest
    environment:
      - LDAP_ORGANISATION=Matts Homelab
      - LDAP_DOMAIN=mattprovost.dev
      - LDAP_ADMIN_PASSWORD_FILE=/run/secrets/openldap-password
      - LDAP_TLS=false
      - "LDAP_OPENLDAP_UID={{ ansible_user_uid }}"
      - "LDAP_OPENLDAP_GID={{ ansible_user_gid }}"
    volumes:
      - "database:/var/lib/ldap"
      - "config:/etc/ldap/slapd.d"
    networks:
      - openldap
    secrets:
      - openldap-password
    ports:
      - "389"
      - "636"
    restart: unless-stopped

  lum:
    image: wheelybird/ldap-user-manager:latest
    environment:
      - LDAP_URI=openldap_openldap
      - LDAP_BASE_DN=dc=mattprovost,dc=dev
      - LDAP_ADMIN_BIND_DN=CN=admin,DC=mattprovost,DC=dev
      - LDAP_ADMIN_BIND_PWD_FILE=/run/secrets/openldap-password
      - LDAP_ADMINS_GROUP=admins
      - LDAP_USER_OU=users
      - NO_HTTPS=true
    networks:
      - openldap
      - cloudflared-network
    secrets:
      - openldap-password
    ports:
      - 80
    deploy:
      labels:
        dev.mattprovost.lum.domain: "{{ lookup('service_domain', 'ldap') }}"
        dev.mattprovost.lum.port: 80
        dev.mattprovost.lum.access: "true"
        dev.mattprovost.lum.access.custom: "true"
    restart: unless-stopped

  pla:
    image: osixia/phpldapadmin:latest
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap_openldap
      - PHPLDAPADMIN_HTTPS=false
      - PHPLDAPADMIN_LDAP_CLIENT_TLS=false
    networks:
      - openldap
      - cloudflared-network
    secrets:
      - openldap-password
    ports:
      - 80
    deploy:
      labels:
        dev.mattprovost.pla.domain: "{{ lookup('service_domain', 'pla') }}"
        dev.mattprovost.pla.port: 80
        dev.mattprovost.pla.access: "true"
        dev.mattprovost.pla.access.custom: "true"

networks:
  openldap:
    external: true
  cloudflared-network:
    external: true

secrets:
  openldap-password:
    external: true

volumes:
  config:
  database:
