services:
  openldap:
    # TODO: move this to bitnami image?
    image: osixia/openldap:latest
    environment:
      - LDAP_ORGANISATION=Matts Homelab
      - LDAP_DOMAIN=mattprovost.dev
      - LDAP_ADMIN_PASSWORD_FILE=/run/secrets/openldap-password
      - LDAP_TLS=false
      - "LDAP_OPENLDAP_UID={{ ansible_user_uid }}"
      - "LDAP_OPENLDAP_GID={{ ansible_user_gid }}"
    volumes:
      - "database:/var/lib/ldap"
      - "config:/etc/ldap/slapd.d"
    networks:
      - openldap
    secrets:
      - openldap-password
    ports:
      - "389"
      - "636"
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 60s
      resources:
        limits:
          cpus: "0.50"
          memory: "64M"
        reservations:
          cpus: "0.25"
          memory: "32M"

  lum:
    image: wheelybird/ldap-user-manager:latest
    environment:
      - LDAP_URI=openldap_openldap
      - LDAP_BASE_DN=dc=mattprovost,dc=dev
      - LDAP_ADMIN_BIND_DN=CN=admin,DC=mattprovost,DC=dev
      - LDAP_ADMIN_BIND_PWD_FILE=/run/secrets/openldap-password
      - LDAP_ADMINS_GROUP=admins
      - LDAP_USER_OU=users
      - NO_HTTPS=true
    networks:
      - openldap
      - cloudflared-network
    secrets:
      - openldap-password
    ports:
      - 80
    healthcheck:
      # Check if the main web page returns a 200 OK
      test: ["CMD", "curl", "-f", "http://127.0.0.1:80"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    deploy:
      mode: replicated
      replicas: 1
      labels:
        dev.mattprovost.lum.domain: "{{ lookup('service_domain', 'ldap') }}"
        dev.mattprovost.lum.port: 80
        dev.mattprovost.lum.access: "true"
        dev.mattprovost.lum.access.custom: "true"
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 60s
      resources:
        limits:
          cpus: "0.50"
          memory: "64M"
        reservations:
          cpus: "0.25"
          memory: "32M"

  pla:
    image: osixia/phpldapadmin:latest
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap_openldap
      - PHPLDAPADMIN_HTTPS=false
      - PHPLDAPADMIN_LDAP_CLIENT_TLS=false
    networks:
      - openldap
      - cloudflared-network
    secrets:
      - openldap-password
    ports:
      - 80
    deploy:
      mode: replicated
      replicas: 1
      labels:
        dev.mattprovost.pla.domain: "{{ lookup('service_domain', 'pla') }}"
        dev.mattprovost.pla.port: 80
        dev.mattprovost.pla.access: "true"
        dev.mattprovost.pla.access.custom: "true"
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 60s
      resources:
        limits:
          cpus: "0.50"
          memory: "128M"
        reservations:
          cpus: "0.25"
          memory: "64M"

networks:
  openldap:
    external: true
  cloudflared-network:
    external: true

secrets:
  openldap-password:
    external: true

volumes:
  config:
  database:
