services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    environment:
      - "PUID={{ ansible_user_uid }}"
      - "PGID={{ ansible_user_gid }}"
      - "TZ=America/Chicago"
    volumes:
      - "{{ role_path }}/files/config:/config"
      - "media-server:/data"
    networks:
      - cloudflared-network
      - prowlarr-network
      - transmission-network
    ports:
      - 9696
    deploy:
      mode: global
      labels:
        dev.mattprovost.prowlarr.domain: prowlarr.home.mattprovost.dev
        dev.mattprovost.prowlarr.port: 9696
        dev.mattprovost.prowlarr.prowlarr: "true"

networks:
  cloudflared-network:
    external: true
  prowlarr-network:
    external: true
  transmission-network:
    external: true

volumes:
  media-server:
    external: true
