services:
  redis:
    image: redis:alpine
    command:
      [
        "sh",
        "-c",
        "redis-server --requirepass $$(cat /run/secrets/redis-password)",
      ]
    volumes:
      - "data:/data"
    networks:
      - redis
    ports:
      - "6379"
    secrets:
      - redis-password
    restart: unless-stopped

networks:
  redis:
    external: true

secrets:
  redis-password:
    external: true

volumes:
  data:
