services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    environment:
      - "PUID={{ ansible_user_uid }}"
      - "PGID={{ ansible_user_gid }}"
      - "TZ=America/Chicago"
    volumes:
      - "config:/config"
      - "media-server:/data"
    configs:
      - source: "{{ sonarr_config.config_name }}"
        target: /config/config.xml
    networks:
      - cloudflared-network
      - prowlarr-network
      - transmission-network
    ports:
      - 8989
    deploy:
      labels:
        dev.mattprovost.sonarr.domain: "{{ lookup('service_domain', 'sonarr') }}"
        dev.mattprovost.sonarr.port: 8989
        dev.mattprovost.sonarr.access: "true"
        dev.mattprovost.sonarr.sonarr: "true"

networks:
  cloudflared-network:
    external: true
  prowlarr-network:
    external: true
  transmission-network:
    external: true

volumes:
  config:
  media-server:
    external: true

configs:
  {{ sonarr_config.config_name }}:
    external: true
