services:
  jellyfin:
    image: "{{ image }}:latest"
    environment:
      - "TZ=America/Chicago"
    volumes:
      - "config:/config"
      - "cache:/cache"
      - "media-server:/data"
      - "/dev/dri:/dev/dri"
    networks:
      - cloudflared-network
      - openldap
    configs:
      - source: "{{ jellyfin_config.config_name }}"
        target: /tmp/LDAP-Auth.xml
    ports:
      - 8096
      - 1900:1900/udp
      - 7359:7359/udp
    deploy:
      labels:
        dev.mattprovost.jellyfin.domain: jellyfin.home.mattprovost.dev
        dev.mattprovost.jellyfin.port: 8096

networks:
  cloudflared-network:
    external: true
  openldap:
    external: true

volumes:
  cache:
  config:
  media-server:
    external: true

configs:
  {{ jellyfin_config.config_name }}:
    external: true
