services:
  cloudflared:
    image: cloudflare/cloudflared
    command: tunnel run
    environment:
      - TUNNEL_TOKEN={{ cloudflare_tunnel.tunnel_token }}
    networks:
      - cloudflared-network
    deploy:
      mode: replicated

networks:
  cloudflared-network:
    external: true
