# Ignore generated bootstrap files
/compose.yml
/service.json

# Ignore dnsmasq configuration files that might contain device-specific settings
etc-dnsmasq.d/

# Ignore PiHole configuration files that might contain sensitive information or device-specific settings
etc-pihole/custom.list
etc-pihole/dhcp.leases
etc-pihole/dns-servers.conf
etc-pihole/gravity*.db
etc-pihole/list.*.domains
etc-pihole/list.*.domains.sha1
etc-pihole/local.list
etc-pihole/logrotate
etc-pihole/migration_backup/
etc-pihole/pihole-FTL.conf
etc-pihole/pihole-FTL.db
etc-pihole/setupVars.conf
etc-pihole/setupVars.conf.update.bak
etc-pihole/versions

# Optionally ignore any log files or temporary files
*.log
*.tmp
